.pending-div {
    margin: 2%;
}

.pending-table {
    background-color: #f3efe0;
    border-collapse: collapse;
    width: 100%;

    td, th {
        border: 1px solid #D1C770;
        padding: 8px;
        text-align: center;
    }
}
  