<div class="pending-container">
    <div class="pending-div">
        <table class="pending-table">
            <thead>
                <tr>
                    <th>Owner Name</th>
                    <th>Pet Name</th>
                    <th>Type of Treatment</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <ng-container > <!-- *ngIf="filteredData.length" -->
                    <!-- <tr *ngFor="let data of filteredData">
                        <td>{{data.user_fname}} {{data.user_lname}}</td>
                        <td>{{ data.pet_name }}</td>
                        <td>{{ data.app_type }}</td>
                        <td>{{ data.app_date }}</td>
                        <td>{{ data.app_time }}</td>
                        <td>{{ data.status }}
                            <select> 
                                 <option value="pending">Pending</option> 
                                <option value="accept">Accept</option>
                                <option value="decline">Decline</option>
                                <option value="onhold">Onhold</option>
                            </select>
                        </td>
                    </tr> -->

                      <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Vaccination</td>
                        <td>04-12-2023</td>
                        <td>12:00:00</td>
                        <td>Accepted</td>
                      </tr>
                      <tr>
                        <td>Berglunds snabbköp</td>
                        <td>Christina Berglund</td>
                        <td>Deworming</td>
                        <td>04-12-2023</td>
                        <td>12:00:00</td>
                        <td>Declined</td>
                      </tr>
                      <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Grooming</td>
                        <td>04-12-2023</td>
                        <td>12:00:00</td>
                        <td>Accepted</td>
                      </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>