.dash-container{
    padding: 0;
    margin: 0;

    .dashboard{
        margin: 10px;
        // h2{
        //     font-size: 30px;
        //     font-family: 'poppins', sans-serif;
        //     font-weight: 700;
        // }
    }
    .dash-card{
        margin: 10px;        
        mat-card{
            top: -20%;
            height: auto;
            width: 18vw;
            mat-card-header{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 15px;
                font-family: 'poppins', sans-serif;
                font-weight: 500;
                background-color: gray;
                color: white;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            mat-icon{
                margin: 20px 10px 10px -4rem;
            }
            mat-card-content{
                margin-top: 10%;
                h1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 50px;
                    font-family: 'poppins',sans-serif;
                    font-weight: 500;
                }
            }
        }
    }
}