<div class="dash-container">
  <div class="dashboard">
      <h2>Dashboard</h2>
  </div>

    <div class="dash-card">

        <mat-grid-list cols="4" rowHeight="4:2">
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>
                        <mat-icon>people</mat-icon> <br> 
                        Treatments
                    </mat-card-header>
                    <mat-card-content>
                        <h1>12</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>
                        <mat-icon>people</mat-icon><br>
                        Clients
                    </mat-card-header>
                    <mat-card-content>
                        <h1>12</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <mat-card>
                    <mat-card-header>
                        <mat-icon>people</mat-icon><br>
                        Clients
                    </mat-card-header>
                    <mat-card-content>
                        <h1>12</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>


</div>
