<div class="dash-container">
    <div class="dashboard">
        <h2>Dashboard</h2>
    </div>

    <div class="dash-card">
        <mat-grid-list cols="4" rowHeight="2:2">
            <mat-grid-tile>
                <mat-card>
                    <mat-icon>local_hospital</mat-icon> <br>
                    <mat-card-header>Treatments</mat-card-header>
                    <mat-card-content>
                        <h1>12</h1>
                        <h3>04-23-2023</h3>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-card>
                    <mat-icon>people</mat-icon><br>
                    <mat-card-header>Clients</mat-card-header>
                    <mat-card-content>
                        <h1>12</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <mat-card>
                    <mat-icon>people</mat-icon><br>
                    <mat-card-header>Clients</mat-card-header>
                    <mat-card-content>
                        <h1>12</h1>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
