.dash-container {
    //DASHBOARD TITLE
    .dashboard {
        margin: 15px;
    }

    //DASHBOARD CARDS
    .dash-card {
        margin-top: -5%;

        a {
            cursor: pointer;
            color: #D1C770;
            font-weight: 500;
        }

        a:hover {
            transform: scale(0.9);
            color: #000000;
        }

        mat-grid-list {
            margin-top: -5vh;
        }

        mat-card {
            height: 22vh;
            width: 16vw;

            mat-card-header {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 20px;
                font-weight: 500;
                padding: 20px 0 20px 0;
                border-radius: 8px 8px 10px 10px;
                background-color: #f3efe0;
            }

            mat-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                margin-left: 10%;
                padding: 17px 20px 20px 15px;
                font-size: 35px;
                color: #D1C770;
            }

            mat-card-content {
                margin-top: 14%;

                h1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 50px;
                    font-weight: 500;
                }
            }
        }
    }
}

// ALL APPOINTMENTS TABLE
.all-sched {
    font-size: 20px;
    font-weight: 500;
    margin: -2% 0 0 1%;
}

.table-container {
    margin: 2%;

    th, td {
        text-align: center;
    }

    mat-form-field {
        width: 40%;
        max-height: 8vh;
    }
}

.request-table, th, td{
    border: 1px solid #f3efe0;
    border-collapse: collapse;

      th, td {
        background-color: #f4f4f4;
      }
}

