.tab-card {
    margin: 12px;
}

mat-tab-group {
    background-color: #f3efe0;
}

.print-icon {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
}

// #history {
//     width: 70%;
//     // height: 842px;
// }

mat-paginator {
    margin-bottom: 2%;
}