<div class="tabs">
  <mat-card class="tab-card">
    <mat-tab-group color="accent">

      <!-- VACCINATION TAB -->
      <mat-tab label="Vaccination" class="vaxx">
        <div class="print-icon">
          <button mat-icon-button>
            <mat-icon>print</mat-icon>
          </button>
        </div>
    
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        
          <!-- Name Column  -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>
        
          <!-- Pet Column  -->
          <ng-container matColumnDef="pet">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pet">Pet</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.pet}}</mat-cell>
          </ng-container>

          <!-- Weight Column  -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
          </ng-container>
        
          <!-- Contact Column  -->
          <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contact">Contact Info</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.contact}} <br> {{element.email}}</mat-cell>
          </ng-container>

          <!-- Address Column  -->
          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by address">Address</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
        
          <mat-paginator [pageSize]="8" showFirstLastButtons></mat-paginator>
      </mat-tab>


      <!-- DEWORMING TAB -->
      <mat-tab label="Deworming" class="deworm">
        <div class="print-icon">
          <button mat-icon-button>
            <mat-icon>print</mat-icon>
          </button>
        </div>
    
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        
          <!-- Name Column  -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>
        
          <!-- Pet Column  -->
          <ng-container matColumnDef="pet">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pet">Pet</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.pet}}</mat-cell>
          </ng-container>

          <!-- Weight Column  -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
          </ng-container>
        
          <!-- Contact Column  -->
          <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contact">Contact Info</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.contact}} <br> {{element.email}}</mat-cell>
          </ng-container>

          <!-- Address Column  -->
          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by address">Address</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
        
          <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
      </mat-tab>

      
      <!-- HEARTWORM PREVENTION TAB -->
      <mat-tab label="Hearworm Prevention" class="hwp">
        <div class="print-icon">
          <button mat-icon-button>
            <mat-icon>print</mat-icon>
          </button>
        </div>
    
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        
          <!-- Name Column  -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>
        
          <!-- Pet Column  -->
          <ng-container matColumnDef="pet">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pet">Pet</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.pet}}</mat-cell>
          </ng-container>

          <!-- Weight Column  -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
          </ng-container>
        
          <!-- Contact Column  -->
          <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contact">Contact Info</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.contact}} <br> {{element.email}}</mat-cell>
          </ng-container>

          <!-- Address Column  -->
          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by address">Address</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
        
          <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
      </mat-tab>


      <!-- GROOMING TAB -->
      <mat-tab label="Grooming" class="groom">
        <div class="print-icon">
          <button mat-icon-button>
            <mat-icon>print</mat-icon>
          </button>
        </div>
    
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        
          <!-- Name Column  -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>
        
          <!-- Pet Column  -->
          <ng-container matColumnDef="pet">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pet">Pet</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.pet}}</mat-cell>
          </ng-container>

          <!-- Weight Column  -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
          </ng-container>
        
          <!-- Contact Column  -->
          <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contact">Contact Info</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.contact}} <br> {{element.email}}</mat-cell>
          </ng-container>

          <!-- Address Column  -->
          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by address">Address</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
        
          <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
      </mat-tab>


      <!-- OTHER TREATMENT TAB -->
      <mat-tab label="Other Treatment" class="other">
        <div class="print-icon">
          <button mat-icon-button>
            <mat-icon>print</mat-icon>
          </button>
        </div>
    
        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        
          <!-- Name Column  -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
          </ng-container>
        
          <!-- Pet Column  -->
          <ng-container matColumnDef="pet">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by pet">Pet</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.pet}}</mat-cell>
          </ng-container>

          <!-- Weight Column  -->
          <ng-container matColumnDef="weight">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">Weight</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.weight}}</mat-cell>
          </ng-container>
        
          <!-- Contact Column  -->
          <ng-container matColumnDef="contact">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by contact">Contact Info</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.contact}} <br> {{element.email}}</mat-cell>
          </ng-container>

          <!-- Address Column  -->
          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by address">Address</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.address}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
        
          <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>