.tab-card {
    margin: 10px;
}

mat-tab-group {
    background-color: #f3efe0;
}

.print-icon {
    display: flex;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
}

mat-paginator {
    // margin-top: 5%;
    margin-bottom: 2%;
}