<div class="container">
  <mat-card class="login-card">
    <img mat-card-image src="./assets/aclogo01.png" alt="login-logo" width="70%">
    <mat-card-header>
      <mat-card-title>Pet Health Information System and Scheduler</mat-card-title>
      <mat-card-subtitle>Please enter your credentials.</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="admin@admin.com" [formControl]="email" required>
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>

  <button mat-raised-button class="login-btn" [routerLink]="['/home']">LOGIN</button>
  </mat-card>
</div>