// App palette
// #144D2F - dark green
// #BF622A - bronze/brown
// #D1C770 - yellow gold
// #F3E3CD - peach
// #F4F4F4 - white
// #000000 - black

.container {
    background: url('../../assets/aclogo01.png');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment:fixed;
    background-color: #144D2F;
    // background: linear-gradient(rgb(243, 227, 205), rgb(20, 77, 47));
    background-size: 50vw 40vh;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 30%;
    height: 50%;
    // backdrop-filter: blur(5px);
    background-color: #f3e3cdf3;
    border-radius: 10px;
    box-shadow: 5px 4px 10px 0 rgb(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 28%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    img {
        margin-left: 14%;
        margin-top: 10%;
        padding-bottom: 5%;
    }

    mat-card-title {
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 28px;
    } 
    
    mat-card-subtitle {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 10px;
    }

    mat-form-field {
        text-align: center;
    }

    .login-btn {
        background: #F3E3CD;
        background: linear-gradient(to right, #bf632ab8, rgba(20, 77, 47, 0.6));
        width: 20%;
        // margin: 0;
        position: absolute;
        top: 84%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

mat-card-content{
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

