<mat-drawer-container class="container">
    <mat-drawer #drawer class="sidenav" mode="over">
        <img src="/assets/aclogo02.png">
        <h4>Animal's Choice</h4>
        <h5>Veterinary Clinic</h5>
        <hr color="#bf622a" width="180px">
  
        <mat-nav-list>
          <a routerLinkActive="list-item-active" routerLink="/home/clients" mat-list-item>
            <span matListItemTitle>CLIENTS</span>
          </a>
        
          <a [routerLink]="['/home/appointments']" routerLinkActive="list-item-active" mat-list-item>
            <span matListItemTitle>APPOINTMENTS</span>
          </a>
        </mat-nav-list>
  
        <mat-icon class="logout-btn" (click)="logout()" >exit_to_app</mat-icon>
    </mat-drawer>
  
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="menu">menu</mat-icon>
      </button>
  
      <span class="adminportal">Admin Portal</span>
    </mat-toolbar>

<!-- PET PROFILE INFORMATION -->
    <mat-icon class="back" [routerLink]="['/home/clients']">arrow_back</mat-icon>

    <div class="pet-container">
        <div class="pet-content"> 
            <mat-card class="profile-card">
                <img mat-card-image src="/assets/avatar.png" width="30%"> 
                <h1>Akio</h1>
            
                <mat-card-content>
                    <span>Color/Markings</span>
                    <p>Brown</p>

                    <span>Breed</span>
                    <p>Shih Tzu</p>

                    <span>Birthdate</span>
                    <p>03 June 2021</p>

                    <span>Gender</span>
                    <p>Male</p>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- PET HEALTH INFORMATION -->
        <div class="pet-content">
            <mat-card class="health-card">
                <mat-card-title>HEALTH HISTORY</mat-card-title>
            </mat-card>
        </div>

            <!-- VACCINATION CARD -->
            <mat-card class="vaxx-card">
                <mat-card-title>Vaccination</mat-card-title>
                <mat-grid-list cols="3" rowHeight="6:1" class="col-title"> 
                    <mat-grid-tile>Name</mat-grid-tile>
                    <mat-grid-tile>Weight</mat-grid-tile>
                    <mat-grid-tile>Date</mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="3" rowHeight="8:1" class="col-content"> 
                    <mat-grid-tile class="tile-content">Nobivac</mat-grid-tile>
                    <mat-grid-tile class="tile-content">6.3</mat-grid-tile>
                    <mat-grid-tile class="tile-content">4/12/2022</mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="3" rowHeight="8:1" class="col-content"> 
                    <mat-grid-tile class="tile-content">Nobivac</mat-grid-tile>
                    <mat-grid-tile class="tile-content">6.3</mat-grid-tile>
                    <mat-grid-tile class="tile-content">4/12/2022</mat-grid-tile>
                </mat-grid-list>
            </mat-card>

            <!-- DEWORMING CARD -->
            <mat-card class="deworm-card">
                <mat-card-title>Deworming</mat-card-title>
                <mat-grid-list cols="3" rowHeight="6:1" class="col-title"> 
                    <mat-grid-tile>Name</mat-grid-tile>
                    <mat-grid-tile>Weight</mat-grid-tile>
                    <mat-grid-tile>Date</mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="3" rowHeight="8:1" class="col-content"> 
                    <mat-grid-tile class="tile-content">Nobivac</mat-grid-tile>
                    <mat-grid-tile class="tile-content">6.3</mat-grid-tile>
                    <mat-grid-tile class="tile-content">4/12/2022</mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="3" rowHeight="8:1" class="col-content"> 
                    <mat-grid-tile class="tile-content">Nobivac</mat-grid-tile>
                    <mat-grid-tile class="tile-content">6.3</mat-grid-tile>
                    <mat-grid-tile class="tile-content">4/12/2022</mat-grid-tile>
                </mat-grid-list>
            </mat-card>

            <!-- HEARTWORM PREVENTION CARD -->
            <mat-card class="heartworm-card">
                <mat-card-title>Heartworm Prevention</mat-card-title>
                <mat-grid-list cols="3" rowHeight="6:1" class="col-title"> 
                    <mat-grid-tile>Name</mat-grid-tile>
                    <mat-grid-tile>Weight</mat-grid-tile>
                    <mat-grid-tile>Date</mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="3" rowHeight="8:1" class="col-content"> 
                    <mat-grid-tile class="tile-content">Nobivac</mat-grid-tile>
                    <mat-grid-tile class="tile-content">6.3</mat-grid-tile>
                    <mat-grid-tile class="tile-content">4/12/2022</mat-grid-tile>
                </mat-grid-list>
                <mat-grid-list cols="3" rowHeight="8:1" class="col-content"> 
                    <mat-grid-tile class="tile-content">Nobivac</mat-grid-tile>
                    <mat-grid-tile class="tile-content">6.3</mat-grid-tile>
                    <mat-grid-tile class="tile-content">4/12/2022</mat-grid-tile>
                </mat-grid-list>
            </mat-card>
        
        <div class="pet-content">
            <button mat-raised-button class="healthinfo-btn" (click)="addHealth()">
                Add Health Info 
            </button>
            <button mat-raised-button class="sched-btn" (click)="setSched()">
                Set an Appointment 
            </button>
        </div>
    </div> 
</mat-drawer-container>

