.search {
    margin: 2%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.mat-icon:hover {
    transform: scale(0.9);
    color: rgb(191, 98, 42, 0.5);
}


.clientlist-container {
    margin: 2%;
}

#card-container {
    float: left;
    padding: 15px;
    margin-right: 50px;
    height: 81.5vh;
    border-radius: 10px;
    box-shadow: 5px 4px 10px 0 rgb(0, 0, 0, 0.25);
    background-color: #f3efe0;
    
    // FOR CLIENT'S TABLE
    .client-list {
        background-color: #f3efe0;
        height: 450px;
    }
}

.info-container {
    width: 58.8%;
}
