<div class="clientlist-container">
  <div id="card-container">
    <mat-card class="list-card">
      <!-- ADD NEW CLIENT -->
      <button mat-fab extended class="addnew-icon" (click)="addClient()">                            
        <mat-icon>add</mat-icon>
        New Client
      </button>
      
        <!-- CLIENTS' LIST TABLE -->
      <mat-form-field class="filter-field" appearance="outline" color="accent">
        <mat-label>Search Client</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Francisco" #input>
      </mat-form-field>

      <section class="table-list">
        <table  mat-table [dataSource]="dataSource" matSort>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LIST OF CLIENTS </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator class="pagination" [pageSizeOptions]="[7]"></mat-paginator>
      </section>
    </mat-card>
  </div>

    <mat-card class="client-info">
      <mat-card-header>Client Information</mat-card-header>
      <hr color="#bf622a" width="100%">

      <!-- CLIENT DETAILS -->
      <mat-card class="client-details">
        <mat-card-content>
          <div class="image">
            <img mat-card-image src="/assets/avatar.png" width="55%">
          </div>
          
          <h2>Shermayne OOI Francisco</h2>
          <p>Email 
            <span>: ooi@gmail.com</span>
          </p>
          <p>Contact Number 
            <span>: +63 970 575 9514</span>
          </p>
          <p>Address 
            <span>: 1128 Gamaza Hills, Calapacuan, Subic, Zambales</span>
          </p>
        </mat-card-content>
      </mat-card>
        
        <!-- FOR CLIENTS' PETS -->
        <mat-card class="pet-card">
          <mat-card-header>Pets</mat-card-header>
          <div class="addpet-btn" color="accent">
            <button mat-icon-button class="add-icon">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <hr color="#bf622a" width="100%">

          <!-- FOR PET'S DETAILS VIEWING -->
          <mat-accordion class="pet-panel">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="e-avatar e-avatar-circle">
                    <img src="/assets/avatar.png" width="20%"> 
                  </span>
                </mat-panel-title>
                <mat-panel-description>
                  Akio
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-card class="pet-details">
                <mat-card-content>
                  <p>Color/Markings 
                    <span>: Brown</span>
                  </p>
                  <p>Breed
                    <span>: Shih Tzu</span>
                  </p>
                  <p>Birthdate 
                    <span>: 03 June 2021</span>
                  </p>
                  <p>Gender 
                    <span>: Male</span>
                  </p>
                  
                  <div class="health-btn">
                    <button mat-flat-button color="accent" (click)="seeHistory()">
                      Health History
                    </button>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel>

            <!-- for sample only, might delete -->
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="e-avatar e-avatar-circle">
                    <img src="/assets/avatar.png" width="20%"> 
                  </span>
                </mat-panel-title>
                <mat-panel-description>
                  Nazi
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-card class="pet-details">
                <mat-card-content>
                  <p>Color/Markings 
                    <span>: Brown</span>
                  </p>
                  <p>Breed
                    <span>: Shih Tzu</span>
                  </p>
                  <p>Birthdate 
                    <span>: 03 June 2021</span>
                  </p>
                  <p>Gender 
                    <span>: Male</span>
                  </p>

                  <div class="health-btn">
                    <button mat-flat-button color="accent">
                      Health History
                    </button>
                  </div>
                </mat-card-content>
              </mat-card>
            </mat-expansion-panel> 
            <!-- end -->

          </mat-accordion>
        </mat-card>
      </mat-card>   
</div>