.clientlist-container {
    margin: 15px;
    margin-left: 4%;
}

#card-container {
    float: left;
    margin-right: 40px;
    height: 80vh;
    width: 35%;
}


//CLIENTS' TABLE CARD
.list-card {
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgb(0, 0, 0, 0.25);
    background-color: #f3efe0;
    height: 88vh;

    //SEARCH FOR CLIENT FIELD
    .filter-field {
        background: transparent;
        margin: 2%;
    }
    
    //CLIENTS' TABLE LIST
    .table-list {
        background: transparent;
        margin-top: -35px;
    }

    mat-paginator {
        background-color: #f3efe0;
        // margin-top: -2%;
    }
}



//FOR CLIENT DETAILS CARD
.client-info {
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0 rgb(0, 0, 0, 0.25);
    background-color: #f3efe0;
    height: 87vh;
    background-color: #f3efe0;
    width: 60%;

    mat-card-header {
        font-size: 22px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
}

//FOR CLIENTS' DETAILS
.client-details {
    margin: 14px;
    font-family: 'Montserrat', sans-serif;

    .image {
        float: right;
        margin-right: -5%;
        margin-top: 1.5%;
    }

    h2 {
        font-weight: bold;
    }

    p {
        font-size: 18px;
        font-weight: 600;
        margin-right: 50px;
    }

    span {
        font-size: 16px;
        font-weight: 400;
    }
}

//FOR CLIENTS' PETS
.pet-card {
    margin: 14px;
    font-family: 'Montserrat', sans-serif;

    .pet-panel {
        margin: 5px;
        border: black;

        mat-panel-description {
            font-size: 16px;
        }

        mat-panel-title {
            margin-top: 5px;
        }
    }
}

// FOR SPECIFIC PET DETAILS 
p {
    font-size: 16px;
    font-weight: 600;
    margin-right: 50px;
}

span {
    font-size: 15px;
    font-weight: 400;
}

.health-btn {
    float: right;
    margin-top: -20%;
}

.healthinfo-btn {
    float: right;
    margin-top: -13%;
}

.sched-btn {
    float: right;
    margin-top: -6%;
}