<div class="clientlist-container">
  <div id="card-container">
    <mat-card class="list-card">
      <!-- ADD NEW CLIENT -->
      <button mat-fab extended class="addnew-icon" (click)="addClient()">                            
        <mat-icon>add</mat-icon>
        New Client
      </button> 
      
        <!-- CLIENTS' LIST TABLE -->
      <mat-form-field class="filter-field" appearance="outline" color="accent">
        <mat-label>Search Client</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Francisco" #input>
      </mat-form-field>

        <mat-table class="table-list" [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> LIST OF CLIENTS </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>
        
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row matRipple *matRowDef="let row; columns: displayedColumns;"></mat-row>
          
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </mat-table>

        <mat-paginator  [pageSizeOptions]="[7]"></mat-paginator>
    </mat-card>
  </div>

    <mat-card class="client-info">
      <mat-card-header>Client Information</mat-card-header>
      <hr color="#bf622a" width="100%">

      <!-- CLIENT DETAILS -->
      <mat-card class="client-details">
        <mat-card-content>
          <div class="image">
            <img mat-card-image src="/assets/avatar.png" width="55%">
          </div>
          
          <h2>Shermayne OOI Francisco</h2>
          <p>Email 
            <span>: ooi@gmail.com</span>
          </p>
          <p>Contact Number 
            <span>: +63 970 575 9514</span>
          </p>
          <p>Address 
            <span>: 1128 Gamaza Hills, Calapacuan, Subic, Zambales</span>
          </p>
        </mat-card-content>
      </mat-card>
        
      <!-- FOR CLIENTS' PETS -->
      <div class="pet-card">
        <mat-card-header>Pets</mat-card-header>
        <div class="addpet-btn" color="accent">
          <button mat-icon-button class="add-icon" (click)="addPet()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <hr color="#bf622a" width="100%">

        <!-- FOR PET'S DETAILS VIEWING -->
        <mat-accordion class="pet-panel">
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="e-avatar e-avatar-circle">
                  <img src="/assets/avatar.png" width="20%"> 
                </span>
              </mat-panel-title>
              <mat-panel-description>
                Akio
              </mat-panel-description>
            </mat-expansion-panel-header>

              <mat-card class="pet-details"> <!-- SPECIFIC PET DETAILS -->
                <mat-card-content>
                  <p>Color/Markings 
                    <span>: Brown</span>
                  </p>
                  <p>Breed
                    <span>: Shih Tzu</span>
                  </p>
                  <p>Birthdate 
                    <span>: 03 June 2021</span>
                  </p>
                  <p>Gender 
                    <span>: Male</span>
                  </p>
                  
                  <div class="health-btn">
                    <button mat-flat-button [matMenuTriggerFor]="beforeMenu" color="accent">Health History</button>
                      <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="vaxxDialog()">Vaccination</button>
                        <button mat-menu-item (click)="dewormDialog()">Deworming</button>
                        <button mat-menu-item (click)="hwpDialog()">Heartworm Prevention</button>
                        <button mat-menu-item (click)="otherDialog()">Other Treatments</button>
                      </mat-menu>
                  </div>
                  <div class="healthinfo-btn">
                    <button mat-flat-button color="accent" (click)="addHealth()">
                      Add Health Info
                    </button>
                  </div>
                  <div class="sched-btn">
                    <button mat-flat-button color="accent" (click)="addSched()">
                      Appoint Pet
                    </button>
                  </div>
                </mat-card-content>
              </mat-card>
          </mat-expansion-panel>
        </mat-accordion>  
      </div>
    </mat-card>
</div>