.search {
    margin: 2% 0 0 70%;
    width: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.client-container {
    margin: 2% 0 0 8%;
}

.card-container {
    cursor: pointer;
    width: 90%;
    border-radius: 10px;
    box-shadow: 5px 4px 10px 0 rgb(0, 0, 0, 0.25);
    margin-bottom: 20px;
    

    .client-list {
        background-color: #f3efe0;
    }

    .client-list:hover {
        background-color: rgb(209, 199, 112, 0.6);
        color: #f3efe0;
    }

    mat-card-header {
        padding: 0.7rem;
        padding-left: 4rem;
    }

    mat-card-title {
        font-weight: 500;
        font-size: 20px;
    }

    mat-card-actions {
        margin-left: 74%;
        padding-bottom: 22px;
    }

    mat-icon {
        font-size: 25px;
    }
}
