<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="over">
      <img src="/assets/aclogo02.png">
      <h4>Animal's Choice</h4>
      <h5>Veterinary Clinic</h5>
      <hr color="#bf622a" width="180px">

      <mat-nav-list>
        <a routerLinkActive="list-item-active" routerLink="/home/clients" mat-list-item>
          <span matListItemTitle>CLIENTS</span>
        </a>
      
        <a [routerLink]="['/home/appointments']" routerLinkActive="list-item-active" mat-list-item>
          <span matListItemTitle>APPOINTMENTS</span>
        </a>
      </mat-nav-list>

      <mat-icon class="logout-btn" (click)="logout()" >exit_to_app</mat-icon>
  </mat-drawer>

  <p>
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon class="menu">menu</mat-icon>
      </button>

      <span class="adminportal">Admin Portal</span>
    </mat-toolbar>
  </p>

  <mat-icon class="back" [routerLink]="['/home/clients']">arrow_back</mat-icon>

  <!-- FOR CLIENT'S PROFILE -->
  <div class="profile-card">

      <div class="column">
          <mat-card class="client-profile">
              <img mat-card-image src="/assets/avatar.png" width="30%"> 
              <mat-card-title>Shermayne OOI Francisco</mat-card-title>

              <mat-card-content>
                  <h3>Contact</h3>
                  <p>+63 970 575 9514</p>

                  <h3>Address</h3>
                  <p>1128 Gamaza Hills, Calapacuan, Subic, Zambales</p>
              </mat-card-content>
          </mat-card>
      </div>

      <!-- FOR ADDED PETS -->
      <div class="column">
          <mat-card class="pets-list">
              <mat-card-title>PETS</mat-card-title>        
          </mat-card>
      
          <div class="pets-profile">
              <button mat-raised-button class="pet-btn" [routerLink]="['/home/appointments']">Akio</button>
          </div>
      </div>

  </div>
</mat-drawer-container>