<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
      <img src="/assets/aclogo02.png">

      <mat-nav-list>
          <a  routerLinkActive="list-item-active" routerLink="/home/clients" mat-list-item>
            <span matListItemTitle>Clients</span>
          </a>
        
          <a [routerLink]="['/home/appointments']" routerLinkActive="list-item-active" mat-list-item>
            <span matListItemTitle>Appointments</span>
          </a>
        </mat-nav-list>

      <mat-icon class="logout-btn" [routerLink]="['/login']">exit_to_app</mat-icon>
  </mat-drawer>
  
  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-icon class="back" [routerLink]="['/home/clients']">arrow_back</mat-icon>

  <!-- FOR CLIENT'S PROFILE -->
  <div class="profile-card">

    <div class="column">
      <mat-card class="client-profile">
        <img mat-card-image src="/assets/avatar.png" width="30%"> 
        <mat-card-title>Shermayne OOI Francisco</mat-card-title>

        <mat-card-content>
          <h3>Contact</h3>
          <p>+63 970 575 9514</p>

          <h3>Address</h3>
          <p>1128 Gamaza Hills, Calapacuan, Subic, Zambales</p>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- FOR ADDING PETS -->
    <div class="column">
      <mat-card class="pets-list">
        <mat-card-title>PETS</mat-card-title>

        <button mat-raised-button class="pet-btn" [routerLink]="['/home/appointments']">Akio</button>

        <button mat-fab extended (click)="addPets()" class="pet-add">
          <mat-icon>add_circle</mat-icon>
          Add Pets
        </button>

        <!-- <h2 mat-dialog-title>Install Angular</h2>
        <mat-dialog-content class="mat-typography">
          <h3>Develop across all platforms</h3>
          <p>Learn one way to build applications with Angular and reuse your code and abilities to build
            apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
        </mat-dialog-content> -->
      </mat-card>

     
    </div>

  </div>

