/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// .appcolorpalette {
//     color: #144d2f; // dark green   :: rgb(20, 77, 47)
//     color: #bf622a; // bronze/brown :: rgb(191, 98, 42)
//     color: #D1C770; // yellow gold  :: rgb(209, 199, 112)
//     color: #f3e3cd; // peach        :: rgb(243, 227, 205)
//     color: #f4f4f4; // white        :: rgb(244, 244, 244)
//     color: #000000; // black        :: rgb(0, 0, 0)
//     color: #f3efe0; // cream        :: rgb(243, 239, 224)
// }


.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}