<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
      <h4 class="vet-name">Animal's Choice</h4>
      <h5>Veterinary Clinic</h5>
      <hr color="#bf622a" width="180px">
      <img src="/assets/avatar.png" class="admin-pic">
      <h4 class="admin-name">Shermayne OOI Francisco</h4>
      <h4 class="admin-email">superadmin@gmail.com</h4>

      <mat-nav-list>
        <a routerLinkActive="list-item-active" [routerLink]="['/home/dashboard']" mat-list-item>
          <span matLine>DASHBOARD</span>
        </a>
        
        <a routerLinkActive="list-item-active" [routerLink]="['/home/clients']" mat-list-item >
          <span matLine>CLIENTS</span>
        </a>
        
        <a routerLinkActive="list-item-active" [routerLink]="['/home/appointments']" mat-list-item >
          <span matLine>REPORTS</span>
        </a>
      </mat-nav-list>
      
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon class="menu">menu</mat-icon>
    </button>

    <span class="adminportal">Admin Portal</span>

    <span class="spacer"></span>

      <img src="/assets/aclogo01.png" width="8%">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="logout-btn">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logout
        </button>
      </mat-menu>
  </mat-toolbar>

  <div class="route">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>