.container {
    background: linear-gradient(rgb(243, 227, 205) 50%, rgb(209, 199, 112));
}

.sidenav {
    padding: 30px;
    background-color: #D1C770;
    
    img {
        width: 180px;
    }

    .logout-btn{
        background-color: #BF622A;
        width: 30px;
        margin: 20px;
        border-radius: 8px;
        position: absolute;
        left: 50%;
        bottom: 10px;
        padding: 10px;
        color: #F4F4F4;
        text-align: center;
        box-shadow: 5px 4px 10px 0 rgb(0, 0, 0, 0.25);
    }
}



