<mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side" opened="true">
      <img src="/assets/aclogo02.png">
      <h4>Animal's Choice</h4>
      <h5>Veterinary Clinic</h5>
      <hr color="#bf622a" width="180px">

      <mat-nav-list>
        <a routerLinkActive="list-item-active" [routerLink]="['/home/dashboard']" mat-list-item>
          <span matLine>DASHBOARD</span>
        </a>
        
        <a routerLinkActive="list-item-active" [routerLink]="['/home/clients']" mat-list-item >
          <span matLine>CLIENTS</span>
        </a>
        
        <a routerLinkActive="list-item-active" [routerLink]="['/home/appointments']" mat-list-item >
          <span matLine>APPOINTMENTS</span>
        </a>
      </mat-nav-list>
      

      <mat-icon class="logout-btn" (click)="logout()" >exit_to_app</mat-icon>
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon class="menu">menu</mat-icon>
    </button>

    <span class="adminportal">Admin Portal</span>
  </mat-toolbar>

  <div class="route">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>