.container {
    // background: linear-gradient(rgb(243, 227, 205) 50%, rgba(209, 199, 112, 0.8));
    background-color: #F4F4F4;
}
  
.sidenav {
    padding: 30px;
    background: linear-gradient(rgb(243, 227, 205) 50%, rgb(209, 199, 112));
    // border-radius: 0px 15px 15px;

    img {
        width: 180px;
    }

    .logout-btn{
        background-color: #e9e9e9;
        width: 60px;
        margin: 20px;
        border-radius: 8px;
        position: absolute;
        left: 25%;
        bottom: 10%;
        padding: 10px;
        color: #bf622a;
        text-align: center;
        box-shadow: 5px 4px 10px 0 rgb(0, 0, 0, 0.25);
        cursor: pointer;
    }

    .logout-btn:hover {
        background-color: rgb(243, 239, 224);
        color: rgb(191, 98, 42, 0.5);
    }

    mat-nav-list {
        margin-top: 30px;
        
        a {
            margin-bottom: 15px;
        }

        .list-item-active {
            background: #BF622A;
            border-radius: 5px;

            span {
                color: #F4F4F4;
            }
        }

        span {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 18px;
        }  
    }
}

mat-toolbar {
    background: rgb(209, 199, 112, 0.9);

    .spacer {
        flex: 1 1 auto;
    }
}